{{! /back/views/admin/novedades.hbs }}
<div class="container" style="margin:50px auto">
    <div class="row">
        <div class="col">
            <p class="text-end">Hola {{ usuario }} ! 
                <a class="btn btn-danger" href="/admin/login/logout">Cerrar sesión <i class="fas fa-sign-out-alt"></i></a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Bienvenido al panel de administración</h2>
            <p>Aquí irá el CRUD de tareas (Tu Proyecto de Organigrama)</p>
        </div>
    </div>
</div>